.back {
    background: linear-gradient(180deg, #8D4AC2 21.88%, rgba(255, 255, 255, 0.42) 85.94%);
    display: flex;
    width: 100%;
    height: 100%;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
.text {
    color: #FFF;
    font-family: Inknut Antiqua;
    font-size: 2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
  .quiz-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba;
    width: 30%;
    height: 40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .options {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button {
    margin-top: 15px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    background-color: #007bff;
    color: #fff;
    width: 67%;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  